body {
  font-size: 30px;
}
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: rgb(47, 108, 93);
}

a:active {
  background-color: rgba(0, 0, 0, 0.363);
}

.ogrenci-liste {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: rgba(128, 128, 128, 0.237);
}

.el {
  border: 2px solid black;
}
