* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  background-color: #a5d8ff;
  height: 800px;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: rgb(47, 108, 93);
}

a:active {
  background-color: rgba(0, 0, 0, 0.363);
}

.addRow {
  float: right;
  background-color: white;
  color: #495057;
  border: none;
  margin: 24px 24px;
  padding: 20px 20px;
  border-radius: 30px;
  display: flex;
  gap: -5px;
}

.Ad-th {
  width: 250px;
}

.Soyad-th {
  width: 250px;
}

.tcNo-th {
  width: 300px;
}
.ogrenciNo-th {
  width: 275px;
}

.noData {
  border-collapse: collapse;
  background-color: white;
  margin: auto;
  border-radius: 12px;
  margin-bottom: 48px;
  padding: 24px 30px;
  display: none;
}
table {
  border-collapse: collapse;
  background-color: white;
  margin: auto;
  border-radius: 12px;
  margin-bottom: 48px;
  display: none;
}
tr {
  border-top: 1px solid #ced4da;
}
th {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #495057;
  text-align: center;
}
td {
  padding-top: 12px;
  padding-bottom: 12px;
  color: #495057;
  text-align: center;
}

tr:first-child {
  border-top: none;
}
tr:last-child {
  border-bottom: none;
}

.navigation {
  margin: auto;
  padding: 24px 24px;
  text-align: center;
  background-color: white;
  border-radius: 12px;
}

.page {
  display: flex;
  margin-bottom: 24px;
}

.addIcon {
  height: 16px;
  width: 16px;
}
